@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="page">
    <main>
        <nav class="top-bar">
            <span class="brand">Vehicle Variation Pack Creator</span>
            <div class="nav-links">
                <a href="/help" target="_blank">Help</a>
                <a href="/about" target="_blank">About</a>
                <a href="https://github.com/Mimonsi/CS2-VariationPackCreator/issues" target="_blank">Report Issue</a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
