@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div>
                <span class="navbar-brand">Vehicle Variation Pack Creator</span>
            </div>


            <div>
                <a href="/help" target="_blank">Help</a>
                <a href="/about" target="_blank">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>