@using Microsoft.AspNetCore.Components
<button class="btn btn-outline-primary w-100 add-variation-btn" @onclick="OnAddVariationClick">
    + Add Variation
</button>

@code {
    [Parameter] public required EventCallback OnAddVariationClick { get; set; }
}
