<div class="variation-container">
    <div class="border rounded d-flex align-items-center justify-content-center p-0" style="height: 100%; min-height: 200px;">
        <button class="btn btn-primary w-100 h-100 border-0" @onclick="OnAddVariationClick" style="font-size: 2rem;">
            +
        </button>
    </div>
</div>

@code {
    [Parameter] public required EventCallback OnAddVariationClick { get; set; }
}
