<div class="variation-container">
    <button class="btn btn-primary w-100 h-100 border-0" @onclick="OnAddVariationClick" style="font-size: 2rem;">
        +
    </button>
</div>

@code {
    [Parameter] public required EventCallback OnAddVariationClick { get; set; }
}
