@using Microsoft.AspNetCore.Components
@using VariationPackCreator.Models

<div class="color-row">
    <span class="color-label">@Label</span>
    <input type="color" @bind="Color.HexRgb" class="color-picker" title="Pick color" />
    <input type="text" @bind="Color.Hex" class="form-control form-control-sm color-hex-input"
           placeholder="#RRGGBB" />
    <input type="range" min="0" max="255" @bind="Color.A" @bind:event="oninput"
           class="alpha-slider" title="Opacity" />
    <span class="alpha-value">@Color.A</span>
</div>

@code {
    [Parameter] public required Color Color { get; set; }
    [Parameter] public string Label { get; set; } = "";
}
