@using VariationPackCreator.Models

@code {
    [Parameter] public Pack Pack { get; set; }
}

<h3>
    <input type="text" @bind="Pack.Name" />
</h3>

@foreach (var prefabEntry in Pack.Entries)
{
    <h4>@prefabEntry.Key</h4>
    @foreach (var variation in prefabEntry.Value)
    {
        <VariationComponent Variation="@variation" />
    }
}