@using VariationPackCreator.Models

<div class="col position-relative p-3 border rounded variation-container">
    <!-- X Button oben rechts -->
    <!--<button @onclick="OnRemoveVariationClick" class="btn btn-danger position-absolute top-0 end-0">
        X
    </button>-->

    <!-- Color Inputs und Probability Input mit Abstand -->
    <div class="d-flex flex-column align-items-center gap-3">

        <div class="d-flex align-items-center">
            @if(!string.IsNullOrEmpty(VariationChance))
            {
                <p>Chance: @VariationChance</p>
            }
        </div>
        <ColorInputComponent Component="Y" Color="@Variation.Color1"/>
        <ColorInputComponent Component="M" Color="@Variation.Color2"/>
        <ColorInputComponent Component="G" Color="@Variation.Color3"/>

        <div>
            <label for="probability">Probability</label>
            <input type="number" id="probability"
                   @bind-Value="Variation.Probability"
                   @bind-Value:event="oninput"
                   @bind-Value:after="OnVariationProbabilityChange.InvokeAsync"
                   min="0" max="255" step="1"/>
        </div>
        <button @onclick="OnRemoveVariationClick" class="btn btn-danger">
            Remove Variation
        </button>
    </div>
</div>

@code {
    [Parameter] public required Variation Variation { get; set; }
    [Parameter] public required EventCallback OnRemoveVariationClick { get; set; }
    [Parameter] public required string VariationChance { get; set; }
    [Parameter] public required EventCallback OnVariationProbabilityChange { get; set; }
}
