@using VariationPackCreator.Models
@code {
    [Parameter] public Variation Variation { get; set; }
}

<div>
    <ColorInputComponent Color="@Variation.Color1" />
    <ColorInputComponent Color="@Variation.Color2" />
    <ColorInputComponent Color="@Variation.Color3" />
    <div>
        <label>Probability</label>
        <input type="number" value="@Variation.Probability" />
    </div>
</div>