@using VariationPackCreator.Models
@code {
    [Parameter] public Variation Variation { get; set; }
}

<div>
    <ColorInputComponent Color="@Variation.Color1" />
    <ColorInputComponent Color="@Variation.Color2" />
    <ColorInputComponent Color="@Variation.Color3" />
    <div>
        <label for="probability">Probability</label>
        <input type="number" id="probability" @bind="Variation.Probability" min="0" max="255" step="1" />
    </div>
</div>
