@page "/about"

<h1>About Vehicle Variation Pack Creator</h1>
<p>
    This tool is created by <b>Konsi</b> and allows users to create and customize vehicle variation packs for Cities: Skylines II.
    It is designed to be easy to use and powerful enough for advanced customization.
</p>

<ul>
    <li>Create and edit packs.</li>
    <li>Customize vehicle colors and meshes.</li>
    <li>Export and share your creations.</li>
</ul>

<p>
    For source code visit the
    <a href="https://github.com/kosch104/CS2-VariationpackCreator" target="_blank">GitHub repository</a>.
</p>

<h1>How to Use</h1>
<p>Click <a href="/help#HowToUse" target="_blank">here</a> for a detailed guide on how to use the tool.</p>

<h3>Credits</h3>

<p>Created by <b>Konsi</b> with <b>Blazor Web Assembly.</b></p>

<div class="d-flex flex-column">
    <a href="https://www.flaticon.com/free-icons/plus" title="plus icons">Plus icons created by Freepik - Flaticon</a>

    <a href="https://www.flaticon.com/free-icons/traffic" title="traffic icons">Traffic icons created by Freepik - Flaticon</a>

    <a href="https://www.flaticon.com/free-icons/picture" title="picture icons">Picture icons created by Freepik - Flaticon</a>
</div>

<h3>Legal Disclaimer</h3>

<p>
    This tool is not affiliated with, endorsed, or sponsored by Paradox Interactive or Colossal Order, the creators of Cities: Skylines II. All trademarks, copyrights, and other intellectual property related to Cities: Skylines II are owned by their respective owners. This tool is a fan-created application designed to help users customize their gaming experience, and it is not authorized by the official game developers.
</p>



