@page "/about"

<h1>About Vehicle Variation Pack Creator</h1>
<p>
    This tool is created by <b>Konsi</b> and allows users to create and customize vehicle variation packs for Cities: Skylines II.
    It is designed to be easy to use and powerful enough for advanced customization.
</p>

<ul>
    <li>Create and edit packs.</li>
    <li>Customize vehicle colors and meshes.</li>
    <li>Export and share your creations.</li>
</ul>

<p>
    For source code visit the
    <a href="https://github.com/kosch104/CS2-VariationpackCreator" target="_blank">GitHub repository</a>.
</p>

<h1>How to use</h1>

<b>Note: The server does not save any data. You must download your pack when you are done, otherwise the data will be lost. Do not reload the page or open another website in the same tab while editing.</b>

<h3>Start from Scratch</h3>
<ol>
    <li>Choose the Empty preset</li>
    <li>Add a prefab you want to change the variations for</li>
    <li>When adding, the prefab will have its default variations (extracted from the game) and be ready to be edited</li>
    <li>Edit, Add or Remove variations based on your needs</li>
    <li>Adjust probabilities: When spawning a vehicle a random variant will be chosen. The higher the probability, the higher the chance this variant gets chosen. A probability of 200 will get chosen twice as often as a probability of 100</li>
</ol>


<h1>Tips & Tricks</h1>

<ul>
    <li>Probabilities can use values from 0 to 255. If you need a higher range, you can add the same variation twice (2 * 200 = 400)</li>
    <li>Adding multiple variants of slightly different colors for a variant makes it look more realistic ingame</li>
</ul>
