@page "/help"
@using VariationPackCreator.Components

<h1>Vehicle Variation Pack Creator Help</h1>
<p>
    This tool is created by <b>Konsi</b> and allows users to create and customize vehicle variation packs for Cities: Skylines II.
    It is designed to be easy to use and powerful enough for advanced customization.
</p>

<HelpComponent/>



