@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h3>Vehicle Variation Pack Creator</h3>

@if (ShowSetup)
{
    <SetupPanel OnPresetLoaded="LoadJson" OnFileUploaded="LoadJson" OnClose="() => ShowSetup = false" />
}
else
{
    <button @onclick="ConfirmStartFromScratch" style="margin-top: 20px;">Start from Scratch</button>
    <div style="margin-top: 20px;" class="loaded-section">
        <h4>Loaded JSON data:</h4>
        <pre>@LoadedJson</pre>
    </div>
}

@code {
    private string LoadedJson = "";
    private bool ShowSetup = true;

    private void LoadJson(string json)
    {
        ShowSetup = false;
        LoadedJson = json;
    }

    private async Task ConfirmStartFromScratch()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure? All data will be lost!");
        if (confirmed)
        {
            ShowSetup = true;
            LoadedJson = "";
        }
    }
}